*{
    margin: 0px;
    font-family: "inter";
}
#logo {
    margin: 50px;
    margin-left: 50px;
}
#titulo-menu {
    margin-left: 150px;
    margin-top: 50px;
}
#texto-menu {
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}
#menusuperior{
    background-image: url(imagens/fundo.svg);
    color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.icone{
    margin: 50px 0px 50px 100px;
    /* 50 cima, 0 direita, 50 baixo e 100 esquerda.*/
    padding: 25px;
}
#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.textoinformativo{
    display: flex;
    align-items: center;
}
#textovideo{
    margin-right: 100px;
}
#titulovideo{
    color: #247BA0;
    margin-top: 50px;
    margin-right: 100px;
} 
#video{
    margin: 50px 25px 50px 100px;
}
#carrosel{
    background-color: #247BA0;
    padding: 50px;
}
#titulocarrosel{
    color: #EAECE5;
    text-align: center;
    font-size:25px;
}
#divcards{
    margin-top: 25px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}
.card{
    margin: 50px;
}
#seta-esquerda{
    display: none;
}
#bruna{
    display: none;
}
.seta{
    margin-top: 125%;
    cursor: pointer;
}
.seta:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
#formulario{
    text-align: center;
}
#tituloformulario{
    font-size:25px;
    margin: 25px;
    color: #383838;
}
input{
    width: 300px;
    height: 40px;
    background-color: #EAECE5;
    margin : 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}
button{
    width: 250px;
    height: 40px;
    background-color: #247BA0;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bolder;
}
button:hover{
    background-color: #383838;
    color: #EAECE5;
    transition: 0.5s;
    box-shadow: 0px 0px 10px #383838;   
}